body {
	background-color: #4B527E;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

h1 {
	color: #F4CE14;
	font-family: Palatino;
	font-weight: 100;
	font-weight: bold;
	letter-spacing: 5px;
	font-size: 30px;
	text-align: center;
}
.description{
	max-width: 600px;
	padding: 45px;
	margin: 30px auto;
	border-radius: 5px;
	box-shadow: 0px 10px 40px #F2F7A1;
}

@media (max-width: 500px)
	.description {
		width: 400px;
	}



h2 {
	color: #F1B4BB;
	font-family: Palatino;
	font-weight: 50;
	font-weight: semi bold;
	font-size: 20px;
}

p {
	color: #F5F5DC;
}

img {
	font-size: 40px;
	border-radius: 50%;
	margin: 90px;
}

a {
	color: #BEFFF7;
	text-align: center;
}

a:hover {
	color: black;
	text-decoration: underline;
}

.btn-purple {
	background-color: #8062D6;
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
}

.btn-purple:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: #F4F2DE;
}

.list-inline i:hover {
	color: black;
}

#introduction  p {
	margin-bottom: 40px;
}






